input {
    keyboard {
        xkb {
            options "caps:swapescape"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

output "eDP-1" {
    off
}

output "HDMI-A-1" {
    focus-at-startup
}

layout {
    gaps 8
    center-focused-column "always"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {
        proportion 0.5
    }

    focus-ring {
        off
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        // off
        width 2
        active-color "#ebbcba"
        inactive-color "#908caa"
        urgent-color "#9b0000"
    }

    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-sh-at-startup "swaybg -i ~/nix-dots/walls/dragon.png"
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
}

window-rule {
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// window-rule {
//     geometry-corner-radius 0
//     clip-to-geometry true
// }
//
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" {
        spawn "kitty"
    }

    Mod+Space hotkey-overlay-title="Run an Application: rofi" {
        spawn-sh "rofi -show drun"
    }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"
    }

    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }

    Mod+Q repeat=false {
        close-window
    }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }

    Mod+F {
        maximize-column
    }

    Mod+Shift+F {
        fullscreen-window
    }

    Mod+M {
        maximize-window-to-edges
    }

    Mod+Ctrl+F {
        expand-column-to-available-width
    }

    Mod+C {
        center-column
    }

    Mod+Ctrl+C {
        center-visible-columns
    }

    Mod+Minus {
        set-column-width "-10%"
    }

    Mod+Equal {
        set-column-width "+10%"
    }

    Mod+Shift+Minus {
        set-window-height "-10%"
    }

    Mod+Shift+Equal {
        set-window-height "+10%"
    }

    Mod+T {
        toggle-window-floating
    }

    Mod+Shift+T {
        switch-focus-between-floating-and-tiling
    }

    Print {
        screenshot
    }

    Ctrl+Print {
        screenshot-screen
    }

    Alt+Print {
        screenshot-window
    }

    Mod+Shift+E {
        quit
    }

    Mod+Shift+P {
        power-off-monitors
    }
}
